body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Comfortaa', cursive;
  background-color: black;
  margin: 0;
  text-decoration-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #f50a0a;
  border-radius: 5px;
}

a {
  text-decoration: none;
  margin: 20px;
  color: #f50a0a;
  transition: color 1s;
}

a:hover {
  color: white;
}

center {
  color: white;
}

div {
  padding: 0%;
}

#text {
  color: #f50a0a;
  font-size: 200px;
}

h4 {
  color: white;
}

#one {
  width: 100%;
  height: 100%;
  position: relative;
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
}

img {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
